{% extends 'base.html.twig' %}

{% block title %}
	SnowTricks
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a href="#tricks">
				<i class="bi bi-arrow-down-square" style="font-size: 2rem; color: #45637d;"></i>
			</a>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

	<div class="card mb-3">
		<h2 class="card-header text-center p-4">SnowTricks</h2>
		<img src="asset/images/banniere.jpg" class="img-fluid" alt="...">
	</div>

	<div class="container p-5">
		<div class='row' id='trickContainer'>
			<h3 class="card-header text-center p-4">Figures de SnowTricks</h3>

			{% for trick in tricks %}
				<div class="col-4">
					<a href="{{ path('app_trick_app_detail', {slug: trick.slug}) }}">
						{% if trick.pictures | length == 0 %}

							<img src="/asset/images/defaultpicture.jpg" class="card-img-top" alt="...">

						{% endif %}
						{% for picture in trick.pictures %}
							{% if picture.main == 1 %}

								<img src="/asset/images/{{ picture.filename }}" class="card-img-top" alt="...">
							{% endif %}
						{% endfor %}
					</a>
					<div class="card-body">
						<div class="row">
							<div class="col-8">
								<a href="{{ path('app_trick_app_detail', {slug: trick.slug}) }}">
									<h5 class="card-title">{{ trick.name }}</h5>
								</a>
							</div>
							{% if app.user %}
								<div class="col">
									<a href="{{ path('app_trick_app_edit', {slug: trick.slug}) }}">
										<i class="bi bi-pencil-fill"></i>
									</a>
								</div>
								<div class="col">
									<a href="{{ path('app_trick_app_delete', {slug: trick.slug}) }}">
										<i class="bi bi-trash-fill"></i>
									</a>
								</div>
							{% endif %}
						</div>
						<a href="{{ path('app_trick_app_detail', {slug: trick.slug}) }}" class="btn btn-primary mt-3" style="background-color: #45637d;">Voir plus</a>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<a href="#tricks">
			<i class="bi bi-arrow-up-square" style="font-size: 2rem; color: #45637d;"></i>
		</a>
	</div>
</div>
{% endblock %}
