{% extends 'base.html.twig' %}
{% block body %}
{% for trick in tricks %}
	<div class="col-4">
		<a href="{{ path('app_trick_detail', {slug: trick.slug}) }}">

			{% if trick.pictures | length == 0 %}

				<img src="/asset/images/defaultpicture.jpg" class="card-img-top" alt="...">

			{% endif %}

			{% for picture in trick.pictures %}

				{% if picture.main == 1 %}

					<img src="/asset/images/{{ picture.filename }}" class="card-img-top" alt="...">

				{% endif %}

			{% endfor %}
		</a>
		<div class="card-body">
			<div class="row">
				<div class="col-8">
					<a href="{{ path('app_trick_detail', {slug: trick.slug}) }}">
						<h5 class="card-title">{{ trick.name }}</h5>
					</a>
				</div>
				{% if app.user %}
					<div class="col">
						<a href="{{ path('app_trick_edit', {slug: trick.slug}) }}">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</div>
					<div class="col">
						<a href="{{ path('app_trick_delete', {slug: trick.slug}) }}">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<a href="{{ path('app_trick_detail', {slug: trick.slug}) }}" class="btn btn-primary mt-3" style="background-color: #45637d;">Voir plus</a>
		</div>
	</a>
</div>
{% endfor %}
{% endblock %}
