{% extends 'base.html.twig' %}

{% block title %}
	{{ trick.name }}
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row d-flex justify-content-center">

			<div class="col-6 my-3">
				<h2 class="text-center h2 mb-3 font-weight-normal">
					{{ trick.name }}</h2>
			</div>

			{% if app.user %}
				<div class="row col-8 mx-auto mt-4 my-3">
					<div class="col-lg-8 mx-auto mt-4"></div>
					<div class="col-1">
						<a href="{{ path('app_trick_app_edit', {slug: trick.slug}) }}">
							<i class="bi bi-pencil-fill"></i>
						</a>
					</div>
					<div class="col-1">
						<a href="{{ path('app_trick_app_delete', {slug: trick.slug}) }}">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>

				{% endif %}
			</div>
			<div class="row">
				<div class="col">

					{% if trick.pictures | length == 0 %}

						<img src="/asset/images/defaultpicture.jpg" class="rounded mx-auto d-block" width="70%" alt="...">

					{% endif %}

					{% for picture in trick.pictures %}

						{% if picture.main == 1 %}

							<img src="/asset/images/{{ picture.filename }}" class="rounded mx-auto d-block" width="70%" alt="...">

						{% endif %}

					{% endfor %}

				</div>
			</div>
			<div class="row col-8 mx-auto mt-4 bg-light">
				<h5>
					Le
					{{ trick.createdAt | date('d/m/Y H:i') }}:
					{{ trick.user.pseudo }}</h5>
				<h5>Categorie :
					{{ trick.category.name }}</h5>
			</div>
			<div class="row">
				<div class="col-8 mx-auto mt-4 mb-1 bg-light">
					<h5>Description :</h5>
					{{ trick.content | raw }}
				</div>
			</div>

			<div class="row col-8 mx-auto my-5">
				{% for video in trick.videos | reverse %}
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.url }}"></iframe>
				{% endfor %}
			</div>
			<div class="form-group row">
				<div class"col">
					<div class="col-lg-8 mx-auto">
						<h5>Liste de commentaires</h5>

						{% for comment in trick.comments %}
							<p><img class="rounded-circle shadow-sm" src="/asset/images/avatar.png" alt="" width="60"/>
								Publie par:
								{{ comment.user.pseudo }}
								le
								{{ comment.createdAt | date('d/m/Y H:i') }}</p>
							<p>
								{{ comment.message }}</p>
						{% endfor %}
					</div>

					{% if app.user %}
						<div class="col-lg-8 mx-auto">
							<h5>Ajouter un commentaire</h5>
							{{ form(commentForm)}}
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
