{% extends 'base.html.twig' %}

{% block title %}
	{{ trick.name }}
{% endblock %}

{% block body %}

	<div class="container my-3">
		<section class="heading">
			<div class="row d-flex justify-content-center">
				<div class="col-10 my-3">
					<h2 class="text-center h2 mb-3 font-weight-normal">
						{{ trick.name }}</h2>
				</div>

				{% if app.user %}
					<div class="row col-10 mx-auto mt-4 my-3">
						<div class="d-flex justify-content-end">
							<a href="{{ path('app_trick_app_edit', {slug: trick.slug}) }}">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="{{ path('app_trick_app_delete', {slug: trick.slug}) }}">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</div>
				{% endif %}
				<div class="row col-lg-10 col-md-10 col-ms-10 d-flex justify-content-center">
					{% if trick.pictures | length == 0 %}
						<img src="/asset/images/defaultpicture.jpg" class="rounded mx-auto d-block" width="85%" alt="...">
					{% endif %}
					{% for picture in trick.pictures %}
						{% if picture.main == 1 %}
							<img src="{{'/asset/images/' ~ picture.filename }}" class="rounded mx-auto d-block" width="85%" alt="...">
						{% endif %}
					{% endfor %}
				</div>
			</section>
		</div>

		<!--Section Media-->

		<div class="col-8 mx-auto mb-2">


			<div class="text-center">
				<button class="btn action-button btn-primary btn-lg mx-auto mb-3 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#medias" aria-controls="medias" aria-expanded="false" style="background-color: #45637d;">Afficher les médias</button>
			</button>
		</div>

		<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3 collapse d-lg-block d-lg-contents py-2" id="medias">

			{% for picture in trick.pictures %}
				<img src="{{ ('/asset/images/') ~ picture.filename }}" class="img-thumbnail trick-thumbnail" alt=""/>
			{% endfor %}
		</div>

		<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3 collapse d-lg-block d-lg-contents" id="medias">
			{% for video in trick.videos %}

				<iframe src="https://www.youtube.com/embed/{{ video.url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			{% endfor %}
		</div>

	</div>

	<!--Section description-->
	<section class="description">
		<div class="row">
			<div class="col-8 mx-auto mt-4 bg-light">
				<h5>
					Par:{{ trick.user.pseudo }}|
	Crée:{{ trick.createdAt | date('d/m/Y H:i') }}: |
	Modifiée:{{ trick.updatedAt | date('d/m/Y H:i') }}:
				</h5>
				<h5>Categorie :
					{{ trick.category.name }}</h5>
			</section>


			<section class="content">
				<div class="row">
					<div class="col-8 mx-auto mt-4 bg-light">
						<h5>Description :</h5>
						{{ trick.content }}
					</div>
				</div>
			</section>

			<section class="container comments ">
				<div class="row col-8 mx-auto mt-4 content-center">

					{% if app.user %}
						<hr class="my-4">
						<div class="col-lg-6 col-sm-10 mx-auto">
							<h5>Ajouter un commentaire</h5>
							{{ form(commentForm)}}
							</div>

						{% endif %}

						<hr class="my-4">
						<div class="col-lg-6 col-sm-10 mx-auto">
							<h5>Liste de commentaires</h5>

							{% for comment in comments %}
								<p><img class="rounded-circle shadow-sm" src="/asset/images/avatar.png" alt="" width="60"/>
									Publie par:
									{{ comment.user.pseudo }}
									le
									{{ comment.createdAt | date('d/m/Y H:i') }}</p>
								<p>{{ comment.message }}</p>
							{% endfor %}

							{% if nextPage %}
								<div class="d-grid gap-2 d-md-flex justify-content-md-center mx-auto my-5">
									<a href="" id="moreComments" class="btn btn-primary mt-3" role="button" aria-disabled="true" style="background-color: #45637d;">Plus commentaires</a>
								</div>
							{% endif %}
						</div>
					</div>
				</section>

			{% endblock %}
